<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>#title</title>
</head>

<body>
#comment 
<p>
<APPLET ARCHIVE="zirkel.jar"
CODE="rene.zirkel.ZirkelApplet.class" #codebase WIDTH="500"
HEIGHT="400" ALIGN="middle"> #parameter </APPLET> 
</p> 


</body>

</html>
